.edit--container {
  background: #1f1e26;
  border-radius: 0.8rem;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.edit--container::-webkit-scrollbar {
  display: none;
}
.edit--page {
  flex: 1;
  padding: 0.8rem;
}

