.welcomePage--container {
  background-color: gray;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.welcomePage--container input{
  color: black;
}

.welcomePage--left {
  height: 100%;
  background-color: white;
  width: 40%;
  text-align: center;
}
.welcomePage--right {
  height: 100%;
  width: 60%;
  background-color: #545454;
  display: grid;
  place-items: center;
}
.welcomePage--logo {
  width: 20rem;
  max-width: 100%;
  margin: 5rem 0;
}
